body
{
    background-color: rgb(255, 255, 255);
}
h1{
    color: rgb(14, 23, 118);
    font-style: initial;
}

h4{
    color: aqua;
}

.title{
    padding-top: 5px;
    margin-left: 250px;
    font-family: papyrus;
    font-weight: 900;
}

.createac{
    color: rgb(86, 19, 148);
    font-family:sans-serif;
}

.img-fluid{
    background-blend-mode:lighten;
    
}


.quotes{
    font-family: papyrus;
    margin-left:150px;
    color: rgb(101, 31, 166);
}

.loginsec{
    margin-top: 0px;
}




.home{
    background-color: rgb(176, 121, 227);
}

.forgetpass{

    font-family:serif;
    margin-top: 100px;
    margin-left: 35%;
    font-size: x-large;
}

.form-outline2{
    margin-left: 400px;
    margin-right:400px;
}

.btn2{
    margin-left: 400px;
    margin-right:400px;
    border: 2px solid rgb(101, 31, 166);
    background-color: rgb(101, 31, 166);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 2rem;
    text-decoration: none;
}


#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid rgb(223, 144, 144);
    padding: 34px;
    margin: 4px;
    border-radius: 5px;
    background-color: rgb(234, 207, 157);
}

#services .box img{
    height: 100px;
    margin: auto;
    display: block;
}


.h-primary{
    font-size: 4.8rem;
    font-family: serif;
    
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.center{
    text-align: center;
}

.doctor{
    background-color: aliceblue;
}

.docto