body
{
  background: radial-gradient(purple, black);
}
h1{
    color: rgb(14, 23, 118);
    font-style: initial;
}

h4{
    color: aqua;
}

.title{
    padding-top: 5px;
    margin-left: 250px;
    font-family: papyrus;
    font-weight: 900;
}

.createac{
    color: rgb(86, 19, 148);
    font-family:papyrus;
    font-weight: 900;

}

.img-fluid{
    background-blend-mode:lighten;
    
}


.quotes{
    font-family: papyrus;
    margin-left:150px;
    color: rgb(101, 31, 166);
}

.loginsec{
    margin-top: 0px;
}




.home{
    background-color: rgb(242, 228, 255);
}

.forgetpass{

    margin-top: 100px;
    margin-left: 35%;
    font-family: papyrus;
    font-weight: 900;
}

.form-outline2{
    margin-left: 400px;
    margin-right:400px;
}

.btn2{
    margin-left: 400px;
    margin-right:400px;
    border: 2px solid rgb(101, 31, 166);
    background-color: rgb(101, 31, 166);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 2rem;
    text-decoration: none;
}


#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid rgb(183, 106, 199);
    padding: 34px;
    margin: 4px;
    border-radius: 500px;
    background-color: rgb(183, 106, 199);
    
}

#services .box:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  animation-delay: 0.75ms;
}

#services .box img{
    height: 100px;
    margin: auto;
    display: block;
}


.h-primary{
    font-size: 4.8rem;
    font-family: serif;
    
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.center{
    text-align: center;
}

.doctor{
    background-color: aliceblue;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    margin-right: 10px;
    
}


.text-center{
    font-family: papyrus;
}

.forgetpassimg{
border-radius: 2px;
width: 450px;
}


.vh-100{
    margin-left: 10px;
}


.slidertext{
    color: aliceblue;
}







.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;  
  padding:15px;
  border-radius:40px;
  background:tomato;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}














/* new login */

html {
  height: 100%;
}
.newlogin {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: radial-gradient(purple, black);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}










